[submodule "submodules/ruby_focused_unit_test_vim"]
	path = submodules/ruby_focused_unit_test_vim
	url = git://github.com/drewolson/ruby_focused_unit_test_vim.git
[submodule "submodules/gist-vim"]
	path = submodules/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "submodules/vim-javascript"]
	path = submodules/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "submodules/vim-rubyredgreen"]
	path = submodules/vim-rubyredgreen
	url = git://github.com/reinh/vim-rubyredgreen.git
[submodule "submodules/histwin.vim"]
	path = submodules/histwin.vim
	url = http://github.com/chrisbra/histwin.vim.git
[submodule "submodules/vim-haml"]
	path = submodules/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "submodules/vim-cucumber"]
	path = submodules/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
