[submodule "submodules/ruby_focused_unit_test_vim"]
	path = submodules/ruby_focused_unit_test_vim
	url = git://github.com/drewolson/ruby_focused_unit_test_vim.git
[submodule "submodules/gist-vim"]
	path = submodules/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
